In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

In [3]:
data1 = pd.read_csv('data_with_datetime_tomerge2.csv', lineterminator='\n')
data2 = pd.read_csv('sentiment_data_master_tomerge1.csv', lineterminator='\n')

In [9]:
data1.tail()

,Unnamed: 0,datetime,username,text,date
405379,30001,2023-03-09 06:00:01+00:00,HourlyBTCUpdate,Bitcoin: $21739.58\nðŸ’” -1.72 last 1 Hour (-0.01...,2023-03-09
405380,30002,2023-03-09 06:00:01+00:00,Mannny23,Popular crypto latest prices:\n $BTC 21751.00\...,2023-03-09
405381,30003,2023-03-09 06:00:01+00:00,whalesradar_com,#CTXCUSDT #CTXC \nSignal #4 \n\nLast Signal: ...,2023-03-09
405382,30004,2023-03-09 06:00:00+00:00,croxroadnews,The Wings of #Bitcoin: A Symbol of Strength an...,2023-03-09
405383,30005,2023-03-09 06:00:00+00:00,AlphaImpact_fi,"#GM Alphas, itâ€™s time to announce a GOLDEN Rew...",2023-03-09

In [10]:
data2.tail()

,Unnamed: 0.1,Unnamed: 0,date,process_text,negative_bert,neutral_bert,positive_bert
405379,30001,30001,2023-03-09,Bitcoin: $21739.58 ðŸ’” -1.72 last 1 Hour (-0.01%...,0.001016,0.870834,0.128149
405380,30002,30002,2023-03-09,Popular crypto latest prices: $BTC 21751.00 ...,0.003519,0.907121,0.089360
405381,30003,30003,2023-03-09,#CTXCUSDT #CTXC Signal #4 Last Signal: 119...,0.000521,0.964454,0.035024
405382,30004,30004,2023-03-09,The Wings of #Bitcoin: A Symbol of Strength an...,0.007388,0.532228,0.460384
405383,30005,30005,2023-03-09,"#GM Alphas, itâ€™s time to announce a GOLDEN Rew...",0.001678,0.591128,0.407194

In [17]:
data1[['negative_bert','neutral_bert','positive_bert']] = data2[['negative_bert','neutral_bert','positive_bert']]

In [20]:
merged_raw_data = data1

In [33]:
data1.to_csv('merged_raw_data_sentiment_timestamp_pl110323.csv')