In [152]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.dates as md

In [2]:
pwd

'/Users/suraj/code/giadapi/crypto/notebooks'

In [121]:
data = pd.read_csv('../raw_data/experts.csv', lineterminator='\n')
data2 = pd.read_csv('../raw_data/experts_part2.csv', lineterminator='\n')
data3 = pd.read_csv('../raw_data/experts_part3.csv', lineterminator='\n')
data4 = pd.read_csv('../raw_data/experts_22-02-01_to_23-03-13.csv', lineterminator='\n')
data5 = pd.read_csv('../raw_data/experts_22-02-01_to_23-03-13_pt3.csv', lineterminator='\n')
data6 = pd.read_csv('../raw_data/experts_peter.csv', lineterminator='\n')
data7 = pd.read_csv('../raw_data/experts_suraj.csv', lineterminator='\n')
data8 = pd.read_csv('../raw_data/experts_giada.csv', lineterminator='\n')

In [122]:
dfs = [data,data2,data3,data4,data5,data6,data7,data8]

In [123]:
dfs

[                         datetime     username  \
 0       2022-02-01 01:20:39+00:00       saylor
 1       2022-01-31 22:55:21+00:00       saylor
 2       2022-01-31 17:27:57+00:00       saylor
 3       2022-01-31 13:35:28+00:00       saylor
 4       2022-01-30 17:08:49+00:00       saylor
 ...                           ...          ...
 308600  2021-08-23 00:24:41+00:00  inversebrah
 308601  2021-08-23 00:23:55+00:00  inversebrah
 308602  2021-08-23 00:23:04+00:00  inversebrah
 308603  2021-08-23 00:20:22+00:00  inversebrah
 308604  2021-08-23 00:05:33+00:00  inversebrah

                                                    text\r
 0       Tomorrow at Bitcoin for Corporations I turn th...
 1                #Bitcoin should be considered first...\r
 2       We will host a live Video Webinar on Tuesday, ...
 3               To err is human, to #bitcoin is divine.\r
 4                                   @cobie üß° ...Yeah...\r
 ...                                                   ...
 308600  bru\n\nhe's called YOUNG\n\nstupid simulation ...
 308601  how could wassies hire dis man :3 https://t.co...
 308602  PSA aw\n\nseveral dexshitcon charts don't very...
 308603  accidents do happen, also\n\nhttps://t.co/fmzq...
 308604         @frenxbt today was a free for all day :3\r

 [308605 rows x 3 columns],
                         datetime        username  \
 0      2023-03-13 18:24:48+00:00     inversebrah
 1      2023-03-13 18:16:57+00:00     inversebrah
 2      2023-03-13 18:06:27+00:00     inversebrah
 3      2023-03-13 17:56:11+00:00     inversebrah
 4      2023-03-13 13:37:52+00:00     inversebrah
 ...                          ...             ...
 74187  2022-06-16 16:20:57+00:00  CanteringClark
 74188  2022-06-16 16:16:21+00:00  CanteringClark
 74189  2022-06-16 16:16:20+00:00  CanteringClark
 74190  2022-06-16 16:00:38+00:00  CanteringClark
 74191  2022-06-16 15:52:11+00:00  CanteringClark

                                                   text\r
 0      now we just need a central bank of brypto\n\n(...
 1                                             *discuss\r
 2                 how citron doing\n\nsmolting wonders\r
 3                                   did we decouple or\r
 4      ur bank is inploding\n\nbits Coin never inplod...
 ...                                                  ...
 74187  @KyodaiAscent Ok I am not speaking to everyone...
 74188  It's not the market that ends up becoming untr...
 74189  I think there is an important distinction that...
 74190  @daaniyaan Typing things like this right now w...
 74191  I deleted my tweets about Su and Kyle from yes...

 [74192 rows x 3 columns],
                          datetime        username  \
 0       2023-03-13 22:41:00+00:00  CanteringClark
 1       2023-03-13 20:50:38+00:00  CanteringClark
 2       2023-03-13 20:13:14+00:00  CanteringClark
 3       2023-03-13 19:15:38+00:00  CanteringClark
 4       2023-03-13 19:15:18+00:00  CanteringClark
 ...                           ...             ...
 174239  2022-04-05 17:06:55+00:00     mattomattik
 174240  2022-04-05 17:04:50+00:00     mattomattik
 174241  2022-04-05 16:45:24+00:00     mattomattik
 174242  2022-04-05 16:44:57+00:00     mattomattik
 174243  2022-04-05 16:42:48+00:00     mattomattik

                                                    text\r
 0       Bitcoin is in the high end of daily return ter...
 1       It's crazy how fast things can change in this ...
 2       Two of these charts are nearly the same. \n\nL...
 3       @michaelgmcquaid @trader1sz @Trader_XO @Trader...
 4                            @southbaytrading For realü§ù\r
 ...                                                   ...
 174239  @pierre_crypt0 @HsakaTrades @knlae_ @inversebr...
 174240                         @jimtalbot That accurate\r
 174241  @honey_xbt Well we talking and didn't trade th...
 174242  @jimtalbot You under-estimate the size of one ...
 174243  @honey_xbt Well we talking in the same time i ...

 [174244 rows x 3 columns],
                          datetime  username  \
 0       2023-03-13 12:43:48+00:00    saylor
 1       2023-03-12 22:58:24+00:00    saylor
 2       2023-03-12 17:57:05+00:00    saylor
 3       2023-03-12 13:03:16+00:00    saylor
 4       2023-03-11 20:06:52+00:00    saylor
 ...                           ...       ...
 304929  2023-03-02 21:27:32+00:00  devchart
 304930  2023-03-02 21:24:23+00:00  devchart
 304931  2023-03-02 21:21:45+00:00  devchart
 304932  2023-03-02 21:18:52+00:00  devchart
 304933  2023-03-02 21:16:51+00:00  devchart

                                                    text\r
 0       #Bitcoin will never need a #Bailout. https://t...
 1                    The Bank of #Bitcoin remains open.\r
 2           @cz_binance #Bitcoin fixes a lot of things.\r
 3       #Bitcoin is the only stable coin. https://t.co...
 4       #Bitcoin is for Winners. https://t.co/NawI2PeG...
 ...                                                   ...
 304929  @satsdart @warobusiness @TraderLenny @AltcoinS...
 304930  @bassface111 Half of my feed is expecting doom...
 304931              @Trader_CSK @warobusiness Yup this!\r
 304932  @AltsQ Jesus christ... that is literally one t...
 304933                       @SatoshiFlipper Damn nice!\r

 [304934 rows x 3 columns],
                          datetime   username  \
 0       2023-03-13 19:01:14+00:00   devchart
 1       2023-03-13 18:55:54+00:00   devchart
 2       2023-03-13 18:52:01+00:00   devchart
 3       2023-03-13 18:46:34+00:00   devchart
 4       2023-03-13 17:08:23+00:00   devchart
 ...                           ...        ...
 307377  2022-02-01 19:54:27+00:00  RektProof
 307378  2022-02-01 17:20:54+00:00  RektProof
 307379  2022-02-01 16:58:56+00:00  RektProof
 307380  2022-02-01 16:38:30+00:00  RektProof
 307381  2022-02-01 16:14:36+00:00  RektProof

                                                    text\r
 0       @Tradermayne @AlgodTrading There are 2 things ...
 1       @trader1sz Yeah because that is the only thing...
 2       @trader1sz She is clout chasing by attacking b...
 3       @TikTokInvestors Lol @gainzy222 successfully m...
 4              @alancarroII Oh nice. It was a funny one\r
 ...                                                   ...
 307377  For those unaware I do have a TG Channel in wh...
 307378  Pretty grateful this morning.\n\nSeveral DM's ...
 307379  $SOL / $USD\n\nRange high- Equal highs taken\n...
 307380  $ETH / $USD\n\nGG.\n\nPrice came out the equal...
 307381  @MuroCrypto @trader1sz @Livercoin @George1Trad...

 [307382 rows x 3 columns],
                          datetime    username  \
 0       2022-01-31 14:25:16+00:00  CryptoCred
 1       2022-01-31 14:22:43+00:00  CryptoCred
 2       2022-01-31 13:11:36+00:00  CryptoCred
 3       2022-01-31 12:56:59+00:00  CryptoCred
 4       2022-01-30 18:18:14+00:00  CryptoCred
 ...                           ...         ...
 112698  2021-01-02 16:53:20+00:00  CryptoBull
 112699  2021-01-02 13:44:52+00:00  CryptoBull
 112700  2021-01-02 13:40:14+00:00  CryptoBull
 112701  2021-01-02 13:28:02+00:00  CryptoBull
 112702  2021-01-01 18:52:59+00:00  CryptoBull

                                                    text\r
 0       @CryptoDonAlt Fair enough, if I ever got anyth...
 1       @CryptoDonAlt This tweet https://t.co/6rfgQImW...
 2       @CryptoDonAlt At least it wasn‚Äôt directly at m...
 3       @CryptoDonAlt Well done, I‚Äôm sure the Nobel Co...
 4       @SplitCapital do 'em all and more\nsrs\npls\nty\r
 ...                                                   ...
 112698                       $288k is only 9x from here\r
 112699  "$33k by July" is about to become a bearish st...
 112700    Slap yourself if you sold #Bitcoin below $31k\r
 112701                  up only https://t.co/K2vLhxUSYn\r
 112702                          December was only 47% üò≠\r

 [112703 rows x 3 columns],
                          datetime         username  \
 0       2022-12-08 00:33:57+00:00  ThatMeganGarcia
 1       2022-08-01 11:33:18+00:00   milliwilly2015
 2       2022-07-24 18:34:40+00:00   aultimatevoice
 3       2022-07-24 17:40:14+00:00   aultimatevoice
 4       2022-07-24 17:38:26+00:00   aultimatevoice
 ...                           ...              ...
 131336  2021-01-01 07:37:15+00:00      CryptoKaleo
 131337  2021-01-01 07:34:50+00:00      CryptoKaleo
 131338  2021-01-01 07:34:02+00:00      CryptoKaleo
 131339  2021-01-01 07:33:03+00:00      CryptoKaleo
 131340  2021-01-01 06:05:52+00:00      CryptoKaleo

                                                    text\r
 0       As a subscriber and app user @nytimes is one o...
 1       @Umm_No1 @JDogLovesHalo @theturtlewoman1 @roni...
 2       @God_Maximvs @ronin_user @nytimes That's a gre...
 3       @God_Maximvs @ronin_user @nytimes What makes y...
 4       @God_Maximvs @ronin_user @nytimes Still waitin...
 ...                                                   ...
 131336   Longed the $LTC retest https://t.co/v23PDRCzls\r
 131337                            She took my phone lol\r
 131338                               I love my gf, wbu?\r
 131339           @CryptoGainz1 Idk man but it‚Äôs amazing\r
 131340             I LOVE EVERY ONE OF YOU CRAZY PEOPLE\r

 [131341 rows x 3 columns],
                          datetime     username  \
 0       2022-02-01 00:43:45+00:00  Tradermayne
 1       2022-02-01 00:34:54+00:00  Tradermayne
 2       2022-02-01 00:24:31+00:00  Tradermayne
 3       2022-01-31 23:23:13+00:00  Tradermayne
 4       2022-01-31 21:43:46+00:00  Tradermayne
 ...                           ...          ...
 140771  2021-01-03 15:25:27+00:00    RektProof
 140772  2021-01-03 14:41:08+00:00    RektProof
 140773  2021-01-02 06:13:10+00:00    RektProof
 140774  2021-01-01 18:17:00+00:00    RektProof
 140775  2021-01-01 06:09:35+00:00    RektProof

                                                    text\r
 0            @ConvexMonster Stop at the low target ath.\r
 1       Monthly candle closed on #Bitcoin \n\nWhat we ...
 2       $Luna\n\nNice reaction from the daily OB level...
 3       @abetrade Is this not accurate https://t.co/7y...
 4       @PrimeXBT @syscoin If you want to support me a...
 ...                                                   ...
 140771  XRP might be worth the punt.\n\nOptimal R here...
 140772  $COMP / $USD\n\nAnother one on my radar.\n\nCu...
 140773  $SOL / $USD\n\nPrice sweep into daily demand c...
 140774  $ATOM / $USD\n\nLooks good.\n\nPrice coming of...
 140775  Happy New Years! \n\nThis past year has challe...

 [140776 rows x 3 columns]]

In [124]:
data = pd.concat(dfs)

In [125]:
data.shape

(1554177, 3)

In [126]:
data = data.rename(columns={'text\r':'text'})
data

,datetime,username,text
0,2022-02-01 01:20:39+00:00,saylor,Tomorrow at Bitcoin for Corporations I turn th...
1,2022-01-31 22:55:21+00:00,saylor,#Bitcoin should be considered first...\r
2,2022-01-31 17:27:57+00:00,saylor,"We will host a live Video Webinar on Tuesday, ..."
3,2022-01-31 13:35:28+00:00,saylor,"To err is human, to #bitcoin is divine.\r"
4,2022-01-30 17:08:49+00:00,saylor,@cobie üß° ...Yeah...\r
...,...,...,...
140771,2021-01-03 15:25:27+00:00,RektProof,XRP might be worth the punt.\n\nOptimal R here...
140772,2021-01-03 14:41:08+00:00,RektProof,$COMP / $USD\n\nAnother one on my radar.\n\nCu...
140773,2021-01-02 06:13:10+00:00,RektProof,$SOL / $USD\n\nPrice sweep into daily demand c...
140774,2021-01-01 18:17:00+00:00,RektProof,$ATOM / $USD\n\nLooks good.\n\nPrice coming of...
140775,2021-01-01 06:09:35+00:00,RektProof,Happy New Years! \n\nThis past year has challe...

In [41]:
data['text\r'].str.contains(x).sum()

219121

In [127]:
def filtering(df):
    key_words = [
    'Market',
    'Short',
    'Foo',
    'plan',
    'Ethereum',
    'eth',
    'üöÄ',
    'üî•',
    'bitcoin',
    'BTC',
    'HODL',
    'collapse',
    'crypto',
    'cryptocurrency',
    'currency',
    'price',
    'USD',
    'dollar',
    'scaling',
    'scale']

    x= ''
    for i in key_words:
        x += '|'+ i
    x=x[1:]

    refined_data_mask = df.iloc[:,-1].str.contains(x)
    refined_data = df[refined_data_mask]
    return refined_data

In [128]:
df = filtering(data)
df

,datetime,username,text
0,2022-02-01 01:20:39+00:00,saylor,Tomorrow at Bitcoin for Corporations I turn th...
3,2022-01-31 13:35:28+00:00,saylor,"To err is human, to #bitcoin is divine.\r"
5,2022-01-30 16:56:04+00:00,saylor,@cobie I'd rather buy #bitcoin than be #blue.\r
6,2022-01-30 16:41:17+00:00,saylor,If you are a corporation interested in integra...
8,2022-01-29 13:47:30+00:00,saylor,The best way to move energy through time and s...
...,...,...,...
140770,2021-01-03 16:12:09+00:00,RektProof,$TEZOS / $USD\n\nClean chart.\n\nLows swept an...
140771,2021-01-03 15:25:27+00:00,RektProof,XRP might be worth the punt.\n\nOptimal R here...
140772,2021-01-03 14:41:08+00:00,RektProof,$COMP / $USD\n\nAnother one on my radar.\n\nCu...
140773,2021-01-02 06:13:10+00:00,RektProof,$SOL / $USD\n\nPrice sweep into daily demand c...
140774,2021-01-01 18:17:00+00:00,RektProof,$ATOM / $USD\n\nLooks good.\n\nPrice coming of...

In [129]:
def split_data(df,num_splits=12):
    n = int(len(df)/num_splits)
    d = {}
    for x in range(num_splits-1):
        d["data{0}".format(x)] = df.iloc[x*n:(x+1)*n,:]
    if len(df)%n ==0:
        return d
    else:
        d["data{0}".format(num_splits-1)] = df.iloc[(num_splits-1)*n:,:]
        return d

In [130]:
df_dict = split_data(df,num_splits=12)

In [131]:
df_dict.keys()

dict_keys(['data0', 'data1', 'data2', 'data3', 'data4', 'data5', 'data6', 'data7', 'data8', 'data9', 'data10', 'data11'])

In [135]:
testing = pd.read_csv('../raw_data/expert_cleaned_data_data4.csv',lineterminator='\n')

In [136]:
testing

,Unnamed: 0,datetime,username,text
0,120175,2023-01-03 04:05:05+00:00,Tradermayne,In Scottsdale for the week. \n\nLife‚Äôs good wh...
1,120181,2023-01-02 09:07:09+00:00,Tradermayne,@cryptoaladeen What is market value üëÄ\r
2,120182,2023-01-02 08:34:21+00:00,Tradermayne,@219_eth I‚Äôd give up Quebec\r
3,120194,2023-01-01 05:11:07+00:00,Tradermayne,"What is the $BTC and $ETH price January 1, 2024\r"
4,120212,2022-12-30 22:36:19+00:00,Tradermayne,If @elonmusk wants to improve something on Twi...
...,...,...,...,...
20270,58666,2022-07-01 14:07:24+00:00,udiWertheimer,@pete_rizzo_ @brian_trollz @MrHodl @nic__carte...
20271,58668,2022-07-01 14:01:15+00:00,udiWertheimer,@pete_rizzo_ @brian_trollz @MrHodl @nic__carte...
20272,58670,2022-07-01 13:54:02+00:00,udiWertheimer,@pete_rizzo_ @brian_trollz @MrHodl @nic__carte...
20273,58672,2022-07-01 13:29:57+00:00,udiWertheimer,@brian_trollz @pete_rizzo_ @MrHodl @nic__carte...
20274,58673,2022-07-01 13:22:35+00:00,udiWertheimer,@pete_rizzo_ @MrHodl @nic__carter @Rob1Ham @pi...

In [139]:
testing['datetime'].dtype

dtype('O')

In [147]:
testing['datetime'] = pd.to_datetime(testing['datetime'])
testing['datetime']

0       2023-01-03 04:05:05+00:00
1       2023-01-02 09:07:09+00:00
2       2023-01-02 08:34:21+00:00
3       2023-01-01 05:11:07+00:00
4       2022-12-30 22:36:19+00:00
                   ...
20270   2022-07-01 14:07:24+00:00
20271   2022-07-01 14:01:15+00:00
20272   2022-07-01 13:54:02+00:00
20273   2022-07-01 13:29:57+00:00
20274   2022-07-01 13:22:35+00:00
Name: datetime, Length: 20275, dtype: datetime64[ns, UTC]

In [151]:
testing['date'] = testing['datetime'].dt.date
testing['date']

0        2023-01-03
1        2023-01-02
2        2023-01-02
3        2023-01-01
4        2022-12-30
            ...
20270    2022-07-01
20271    2022-07-01
20272    2022-07-01
20273    2022-07-01
20274    2022-07-01
Name: date, Length: 20275, dtype: object

In [75]:
from pathlib import Path

In [132]:
def save_files(df_dict):
    for key, value in df_dict.items():
        filepath = Path('~/code/giadapi/crypto/raw_data/expert_cleaned_data_{0}.csv'.format(key))
        value.to_csv(filepath)
    return

In [133]:
save_files(df_dict)

In [74]:
for i in df_dict:
    print(len(df_dict[i]))

43824
43824
43824
43824
43825

In [30]:
list = []
list.append('üöÄ')
list

['üöÄ']

In [ ]:
#remove duplicates and add users to blacklist
#remove users who post supiciouskly large frequency of tweets
#remove suspicious n-grams in tweets

In [ ]:
#remove duplicates and add users to blacklist

In [7]:
data.head()

,Unnamed: 0.1,Unnamed: 0,datetime,username,text,date,negative_bert,neutral_bert,positive_bert
0,0,0,2021-01-01 22:09:59+00:00,sivilianlife,What's the chances @Grayscale is hedging short...,2021-01-01,0.002040,0.951312,0.046648
1,1,1,2021-01-01 22:09:39+00:00,LudicrousSpeed9,@CNBC Buy #Bitcoin to hedge against the result...,2021-01-01,0.004157,0.400750,0.595093
2,2,2,2021-01-01 22:09:35+00:00,SergioBowers1,@APompliano @pepsi @MonsterEnergy $DEO $KO e...,2021-01-01,0.000248,0.582107,0.417644
3,3,3,2021-01-01 22:09:35+00:00,bmurphypointman,#entrepreneurs #selfemployed #traveling #Affil...,2021-01-01,0.000084,0.816604,0.183312
4,4,4,2021-01-01 22:09:21+00:00,bitvestor,Closed another chunk of this long now. Remaind...,2021-01-01,0.000974,0.807066,0.191960

In [9]:
data= data[['datetime', 'username', 'text', 'date',
       'negative_bert', 'neutral_bert', 'positive_bert']]

In [16]:
dup_tweets = data[data['text'].duplicated()]
blacklist = []
for name in dup_tweets['username']:
    blacklist.append(name)

blacklist = list(set(blacklist))

In [19]:
len(blacklist)

1340

In [20]:
def to_remove(x):
    if x in blacklist:
        return True
    else:
        return False

In [21]:
data['to_remove'] = data['username'].apply(to_remove)

In [25]:
mask = data['to_remove']
data2 = data[~mask]

In [26]:
data2.shape

(347668, 8)

In [28]:
data2.to_csv('raw_tweets_without_dupes_120323.csv')

In [27]:
#remove users who post supiciouskly large frequency of tweets